<footer class="footer">
  <div class="logo-container">Modern Art Gallery</div>

  <section aria-label="Visitor Information">
    <p>
      The Modern Art Gallery is free to all visitors and open seven days a week
      from
      <time datetime="08:00">8am</time> to <time datetime="21:00">9pm</time>.
    </p>
    <address>
      99 King Street,<br />
      Newport, USA
    </address>
  </section>

  <nav aria-label="Social media">
    <ul>
      <li>
        <a href="https://twitter.com/..." aria-label="Twitter">{{icon_1}}</a>
      </li>
      <li>
        <a href="https://instagram.com/..." aria-label="Instagram"
          >{{icon_2}}</a
        >
      </li>
    </ul>
  </nav>
</footer>
